<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <%-blocks.header%>
</head>
 

<body>

	<%-partial('./partials/topNavigation')%>
	<div class="container">
	    <div class="thumbnail" id="middle">
	      <%-body -%>
	    </div>
	</div>

<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>