<% layout('/layouts/layout') -%>
 
<html>
<head>
  <link rel="stylesheet" href="/style/contacts.css">
  <title>Contacts</title>
</head>


<body>


  <div class="list-group">
    <%users.forEach(function(user){%>
      <li class="list-group-item">
          <img src="/img/no_avatar.jpg" id="avatar" class="image img-circle">        
          <strong><%=user.local.name%> <%=user.local.surname%></strong><br>    
          <a href="/go=<%=user.local.login%>"> (<%=user.local.login%>)</a>
      </li>
    <%})%>
  
    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul> 
    
  </div>
    


</body>
</html>
