<% layout('/layouts/layout') -%>

<html>
<head>
</head>
<body>

<div class="container">
	<div class="col-sm-6 col-sm-offset-1">
		<h1>FAQ</h1>

		<blockquote>
			<p>
			This page created to answer you some questions.
			<br>
			Here you can find any question, that i can answer to you. Enjoy!
			</p>
		</blockquote>

		<p><strong>What is MixBox?</strong></p>
		<p>MixBox is social network. It's super-fast(no), simple
			and free. You can use MixBox on all your devices <b>at the same time.</b>

			With MixBox you can send messages, photos, videos and files
			of any type(doc, zip, mp3, etc).

		<p><strong>Who is developer?</strong></p>
		<p>Simple guy from Ukraine. There is no reason
		why you should to know more about me :)</p>

		<p><strong>Tell about dev specs?</strong></p>
		<p>Node.js, WebFramework - Express.js,
			Auth based on passport, Database is MongoDB.
			Some libs like lodash, axios, jquery etc.
			Front-end based on Vue.js framework.
		</p>

		<p><strong>Nice work!</strong></p>
		<p>Uh, this is not a question, but in this case: thanks.</p>

		<p><strong>Where i can find your contacts?</strong></p>
		<p> Here it is!</p>

		<blockquote>
			<dt class="text-success"> Telegram </dt>
			<dd> t.me/Destimon </dd>
			<dt class="text-success"> GitHub </dt>
			<dd> github.com/destimon </dd>
			<dt class="text-success"> Email </dt>
			<dd> destimon@protonmail.com </dd>
		</blockquote>

	</div>


</div>
</body>
</html>
