<% layout('/layouts/layout') -%>

<html>
<head>
</head>
<body>

<div class="container">
	<div class="col-sm-6 col-sm-offset-1">
		<h1>Справка</h1>

		<blockquote>
			<p>
			Эта страница предназначена для ознакомления с ресурсом.
			<br>
			Ниже преведенны несколько, возможно, интересующих вас элементов.
			</p>
		</blockquote>
	
		<p><strong>Что это?</strong></p>
		<p>Это пивнушка, интегрированная в социальную сеть.
		Здесь вы можете отдохнуть вместе с друзьями,
		поделиться любимыми сортами пива и просто
		рассказать впечатления о разных событиях в жизни.
		Ну знаете.. у людей которые любят пить пиво их не мало...

		<p><strong>Кто разработчик?</strong></p>
		<p>Обычный парень, заурядный житель Обуховского района,
		под славным городом Киев в небезыствестной стране под
		названием Украина</p>

		<p><strong>На чем писал?</strong></p>
		<p>Пресловутый JavaScript на платформе Node.js
		В качестве фреймворка использовал Express.js
		</p>

		<p><strong>Ты молодец и умница!</strong></p>
		<p>Нет. Я пьяница-дуроёб.</p>

		<p><strong>Можно твои контакты?</strong></p>
		<p> Конечно!</p>

		<blockquote>
			<dt class="text-success"> Telegram </dt>
			<dd> t.me/Destimon </dd>
			<dt class="text-success"> GitHub </dt>
			<dd> github.com/destimon </dd>
			<dt class="text-success"> Email </dt>
			<dd> destimon@protonmail.com </dd>
		</blockquote>

	</div>


</div>
</body>
</html>