<% layout('/layouts/layout') -%>

<html>
<head>
    <title>Edit</title>
</head>
<body>
	<div>
		<form action="/edit" method="post">
			<%-partial('./layouts/partials/form')%>
		</form>
	</div>
	</body>
</html>