<% layout('/layouts/layout') -%>

<html>
<head>
    <title>Edit</title>
</head>
<body>

	<div class="row">
		<form action="/edit" method="post">
		
			<div class="col-sm-6">
					<%-partial('./layouts/partials/form')%>
			</div>
		

			<div class="col-sm-6">
				<div class="form-group">
					<label for="about">О себе</label>
					<textarea name="about" class="form-control" rows="4"><%if(mydata.local.about){%><%=mydata.local.about%><%}%></textarea>
				</div>

				<div class="form-group">
					<label>Аватар</label>
					<br>
						
					<image src="/go=<%=mydata.local.login%>/avatar" class="image img-circle"></image>

					<label class="btn btn-default">
	    			Browse <input type="file" hidden name="avatar">
					</label>
				</div>

			</div>
		
		</form>
	</div>
</body>
</html>