<% layout('/layouts/layout') -%>

<html>
<head>
    <title>Edit</title>
</head>
<body>

	<div class="row">
		<form action="/edit" method="post" enctype="multipart/form-data">
		
			<div class="col-sm-6">
				<%-partial('./layouts/partials/form')%>
			</div>
		

			<div class="col-sm-6">
				<div class="form-group">
					<label for="about">О себе</label>
					<textarea name="about" class="form-control" rows="4"><%if(mydata.about){%><%=mydata.about%><%}%></textarea>
				</div>

				<div class="form-group">
					<label>Аватар</label>
					<br>
						
					 <image src="/usr/<%=mydata.login%>/avatar" class="image img-circle"></image>

					<label class="btn btn-default">
	    			Browse <input id="avatar" name="avatar" accept="image/*" type="file">
					</label>
				</div>

			</div>
		
		</form>
	</div>
</body>
</html>