<% layout('/layouts/layout') -%>

<head>
	<title>Новости</title>
	<link rel="stylesheet" href="/style/feed.css">
</head>

<body>
		
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4" id="postblock">
			<p class="h1">Что нового?</p>
			<hr>
				<form id="create_post_form">
		            <div class="form-group">
		            	<input class="form-control" name="text" id="text" type="text">
			            <hr>
			            <input type="button" v-on:click="postFeed" class="btn btn-success" value="Отправить"></input>
		            </div>

		            <p>{{message}}</p>
		        </form>
          	
		</div>	
		
		<div class="col-xs-12 col-sm-6">

			<p class="h1">Новости</p>
			<hr>

			<div id="blog">
				<post-list v-bind:posts="posts"></post-list>
			</div>

      <script type="text/x-template" id="postList_template">
          <table class="table">
            <thead>
              <tr>
                <th>author</th>
       	      </tr>
            </thead>
            <tbody>
              <tr v-for="p in posts">                       
                <td>{{ p.text }}</td>
              </tr>
            </tbody>
          </table>
			</script>




		</div>
	</div>
</div>
	<script src='/js/jquerytest.js'></script>
	<script src='/js/vue.js'></script>
	<script src='/js/index.js'></script>
</body>
