<% layout('/layouts/layout') -%>

<head>
	<title>Feed</title>
	<link rel="stylesheet" href="/style/feed.css">
	<link rel="stylesheet" href="/style/loader.css">
</head>

<body>

	<div class="container" id="content">
		<div class="row">
			<div class="col-xs-12 col-md-4" id="postblock">
				<p class="h1">What's up?</p>
				<hr>
				<form id="create_post_form">
          <div class="form-group">
          	<input class="form-control" autocomplete="off" name="text" id="text" type="text">
            <hr>
            <input type="button" v-on:click="postFeed" class="btn btn-success" value="Confirm"></input>
          </div>

          <div v-if="loading == true">
            <p>{{message}}</p>
      			<div class="loader"></div>
    			</div>
        </form>
			</div>

			<div class="col-xs-12 col-sm-6">

				<p class="h1">Recent publications</p>
				<hr>

				<div id="blog">
					<div v-if="loading == true" class="loader"></div>

					<div v-if="loading == false">
							<post-list v-bind:posts="posts"></post-list>
							<div class="col-md-offset-1">
								<button class="btn btn-primary" v-if="buttonStatus == true" v-on:click="showMore">Show more<i class="glyphicon glyphicon-chevron-down"></i></button>
							</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<!-- LIST OF POSTS -->
	<script type="text/x-template" id="postList_template">
		<div>
			<div class="media" v-for="p in posts">
			  <div class="media-left">
			    <a :href="'/usr/' + p.author">
				    <img v-bind:src="' ' + p.avalink" class="media-object img img-circle" style="width:60px">
			  	</a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">{{ p.author }} <small><i>{{ p.date }}</i></h4>
			    <p>{{ p.text }}</p>
			  </div>
			</div>
		</div>
	</script>

	<script src='/js/account/feedcontent.js'></script>

	<!-- TEMPLATES -->
  <script src='/js/postlist.js'></script>

</body>
