<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">


    <h1><span class="fa fa-sign-in"></span> Создать</h1>

    <form action="/signup" method="post">
        <%-partial('./layouts/partials/form')%> 
    </form>

    <hr>

    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
    <p>Или домой <a href="/">Главная</a>.</p>

</div>

</div>
</body>
</html>
