<footer>

  <div class="container">
  <hr style="border-color: rgba(0, 0, 0, 0.3);">
    <div class="col-sm-4">
      <strong>Pivnushka!</strong>
      <p>Мобильная и десктопная социальная сеть
      <br>от пьяниц для пьяниц!</p>
    </div>

    <div class="col-sm-4">
      <strong>Контакты</strong>
      <br>
      <a href="https://t.me/Destimon">Telegram</a>
      <br>
      <a href="https://github.com/destimon">Github</a>
    </div>
  </div>
</footer>