<footer>

  <div class="container">
  <hr style="border-color: rgba(0, 0, 0, 0.3);">
    <div class="col-sm-4">
      <strong>MixBox!</strong>
      <p>MixBox is cloud-based mobile
      <br>and desktop app with focus on security and speed!</p>
    </div>

    <div class="col-md-4">
      <strong>Contacts</strong>
      <br>
      <a href="https://t.me/Destimon">Telegram</a>
      <br>
      <a href="https://github.com/destimon">Github</a>
      <br>
      <a href="#">Youtube</a>
    </div>

    <div class="col-md-4">
      <strong>About</strong>
        <br>
        <a href="/help">FAQ</a>
        <br>
        <a href="#">Blog</a>
        <br>
        <a href="#">Press</a>
    </div>
  </div>
</footer>
